body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  color: black;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

p {
  line-height: 1.4;
}
